# 学习Pandas

## class01

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# pandas中常用的两种基本结构
# Series:一维数组，和numpy中的一维array类似
# DataFrame:二维的表格数据结构，是Series的容器

In [3]:
# 一维Series用一维列表初始化：
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
s = pd.Series([1,3,5,np.nan,6,8], index=list('abcdef'))
s

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

In [ ]:
# 索引-数据的行标签

In [5]:
s.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [6]:
s.values

array([ 1.,  3.,  5., nan,  6.,  8.])

In [7]:
s[0]

1.0

In [8]:
s[2:5]

c    5.0
d    NaN
e    6.0
dtype: float64

In [9]:
s['c':'e']

c    5.0
d    NaN
e    6.0
dtype: float64

In [10]:
s[::2]

a    1.0
c    5.0
e    6.0
dtype: float64

In [12]:
# 索引赋值
s.index.name = '索引'
s

索引
a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

In [16]:
# DataFrame
date = pd.date_range('20180101',periods=6)
print(date)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
# 创建一个DataFrame
df = pd.DataFrame(np.random.randn(6,4),index=date,columns=list('ABCD'))
df

                   A         B         C         D
2018-01-01  1.127365 -0.200739 -0.027219 -0.207840
2018-01-02  0.101677 -1.013079 -0.906982  0.775818
2018-01-03  0.893514 -0.016078  1.488927  1.810582
2018-01-04 -0.071400 -0.825756 -0.087945 -0.653936
2018-01-05 -1.358636  0.599796  2.366909 -0.335208
2018-01-06 -1.559847  1.346359  2.598582 -0.732442

In [19]:
# 使用字典传入数据
# DataFrame只要求每一列数据的格式相同
df2 = pd.DataFrame({'A':1.,'B':pd.Timestamp('20181001'),'C':pd.Series(1,index=(range(4)),dtype=float),'D':np.array([3]*4,dtype=int),'E':pd.Categorical(["test","train","test","train"]),'F':'abc'})
df2

     A          B    C  D      E    F
0  1.0 2018-10-01  1.0  3   test  abc
1  1.0 2018-10-01  1.0  3  train  abc
2  1.0 2018-10-01  1.0  3   test  abc
3  1.0 2018-10-01  1.0  3  train  abc

In [20]:
# 查看数据
# 头尾数据
df.head() # 前五行

                   A         B         C         D
2018-01-01  1.127365 -0.200739 -0.027219 -0.207840
2018-01-02  0.101677 -1.013079 -0.906982  0.775818
2018-01-03  0.893514 -0.016078  1.488927  1.810582
2018-01-04 -0.071400 -0.825756 -0.087945 -0.653936
2018-01-05 -1.358636  0.599796  2.366909 -0.335208

In [21]:
df.tail() # 后五行

                   A         B         C         D
2018-01-02  0.101677 -1.013079 -0.906982  0.775818
2018-01-03  0.893514 -0.016078  1.488927  1.810582
2018-01-04 -0.071400 -0.825756 -0.087945 -0.653936
2018-01-05 -1.358636  0.599796  2.366909 -0.335208
2018-01-06 -1.559847  1.346359  2.598582 -0.732442

In [22]:
df.tail(6) # 后6行，指定行数

                   A         B         C         D
2018-01-01  1.127365 -0.200739 -0.027219 -0.207840
2018-01-02  0.101677 -1.013079 -0.906982  0.775818
2018-01-03  0.893514 -0.016078  1.488927  1.810582
2018-01-04 -0.071400 -0.825756 -0.087945 -0.653936
2018-01-05 -1.358636  0.599796  2.366909 -0.335208
2018-01-06 -1.559847  1.346359  2.598582 -0.732442

In [23]:
# 下标，列标，数据
df.index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [25]:
df.values

array([[ 1.12736451, -0.20073855, -0.02721943, -0.20783979],
       [ 0.10167706, -1.01307852, -0.90698173,  0.77581812],
       [ 0.89351358, -0.01607753,  1.48892692,  1.81058217],
       [-0.07139965, -0.82575559, -0.08794502, -0.65393628],
       [-1.35863607,  0.59979562,  2.36690853, -0.33520799],
       [-1.55984719,  1.3463587 ,  2.59858159, -0.73244215]])

In [26]:
df.value_counts

<bound method DataFrame.value_counts of                    A         B         C         D
2018-01-01  1.127365 -0.200739 -0.027219 -0.207840
2018-01-02  0.101677 -1.013079 -0.906982  0.775818
2018-01-03  0.893514 -0.016078  1.488927  1.810582
2018-01-04 -0.071400 -0.825756 -0.087945 -0.653936
2018-01-05 -1.358636  0.599796  2.366909 -0.335208
2018-01-06 -1.559847  1.346359  2.598582 -0.732442>

In [ ]:
# pandas读取数据及数据操作

In [27]:
df = pd.read_excel('./豆瓣电影-数据.xlsx')

In [28]:
df.head()

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [29]:
# 行操作
df.iloc[0]

Unnamed: 0                      0
名字                         肖申克的救赎
投票人数                     692795.0
类型                          剧情/犯罪
产地                             美国
上映时间          1994-09-10 00:00:00
时长                            142
年代                           1994
评分                            9.6
首映地点                       多伦多电影节
Name: 0, dtype: object

In [30]:
df.iloc[0:5] # 前五行

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [31]:
df.loc[0:5] # 前6行

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,5,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆

In [33]:
# 添加一行
dit = {'名字':'复仇者联盟3','投票人数':123456,'类型':'剧情/科幻','产地':'美国','上映时间':'2018-05-04','时长':142,'年代':2018,'评分':8.7,'首映地点':'美国'}
s = pd.Series(dit)
s.name = 38738
s

名字          复仇者联盟3
投票人数        123456
类型           剧情/科幻
产地              美国
上映时间    2018-05-04
时长             142
年代            2018
评分             8.7
首映地点            美国
Name: 38738, dtype: object

In [34]:
df = df.append(s)

D:\UserD\AppData\Local\Temp\ipykernel_14892\2145843730.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(s)

In [35]:
df.tail()

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38734,38734.0,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,38735.0,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,38736.0,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国
38737,38737.0,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国
38738,NaN,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04,142,2018,8.7,美国

In [37]:
# 删除一行
df.drop([38738])

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2.0,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4.0,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
...,...,...,...,...,...,...,...,...,...,...
38733,38733.0,神学院 S,46.0,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国
38734,38734.0,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,38735.0,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,38736.0,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国
38737,38737.0,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国

In [38]:
# 列操作
df.columns

Index(['Unnamed: 0', '名字', '投票人数', '类型', '产地', '上映时间', '时长', '年代', '评分',
       '首映地点'],
      dtype='object')

In [39]:
df['名字'][:5]

0    肖申克的救赎
1      控方证人
2     美丽人生
3      阿甘正传
4      霸王别姬
Name: 名字, dtype: object

In [41]:
df[['名字','类型']][:5] # 前5行，注意取多行用[]标起来，如：['名字','类型']

       名字        类型
0  肖申克的救赎     剧情/犯罪
1    控方证人  剧情/悬疑/犯罪
2   美丽人生   剧情/喜剧/爱情
3    阿甘正传     剧情/爱情
4    霸王别姬  剧情/爱情/同性

In [42]:
# 增加一列
df['序号'] = range(1,len(df)+1)
df[:5]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点,序号
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节,1
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国,2
2,2.0,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利,3
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映,4
4,4.0,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港,5

In [43]:
# 删除一列
df = df.drop('序号',axis=1)
df[:5]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2.0,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4.0,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [44]:
df.loc[1,'名字']

'控方证人'

In [45]:
df.loc[[1,3,5,7,9],['名字','评分']]

                                      名字   评分
1                                   控方证人  9.5
3                                   阿甘正传  9.4
5                                 泰坦尼克号   9.4
7  新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai  9.4
9                               这个杀手不太冷   9.4

In [46]:
# 条件选择
df['产地']=='美国'

0         True
1         True
2        False
3         True
4        False
         ...
38734     True
38735    False
38736    False
38737    False
38738     True
Name: 产地, Length: 38739, dtype: bool

In [47]:
df[df['产地']=='美国']

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
5,5.0,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
6,6.0,辛德勒的名单,306904.0,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映
...,...,...,...,...,...,...,...,...,...,...
38726,38726.0,零下的激情,199.0,剧情/爱情/犯罪,美国,1987-11-06 00:00:00,98,1987,7.4,美国
38728,38728.0,离别秋波,240.0,剧情/爱情/音乐,美国,1986-02-19 00:00:00,90,1986,8.2,美国
38732,38732.0,极乐森林,45.0,纪录片,美国,1986-09-14 00:00:00,90,1986,8.1,美国
38734,38734.0,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38738,NaN,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04,142,2018,8.7,美国

In [48]:
df[df['产地']=='美国'][:5] # 满足条件的前五个

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
5,5.0,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
6,6.0,辛德勒的名单,306904.0,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映

In [49]:
# 选取产地：美国，评分大于9
df[(df.产地=='美国')&(df.评分>9)][:5]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
5,5.0,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
6,6.0,辛德勒的名单,306904.0,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映

In [52]:
# 选取产地：美国或中国大陆，评分大于9
df[((df.产地=='美国')|(df.产地=='中国大陆'))&(df.评分>9)][:20]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4.0,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,5.0,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
6,6.0,辛德勒的名单,306904.0,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映
11,11.0,疯狂动物城,284652.0,喜剧/动作/动画/冒险,美国,2016-03-04 00:00:00,109,2016,9.3,中国大陆/美国
13,13.0,海豚湾,159302.0,纪录片,美国,2009-07-31 00:00:00,92,2009,9.3,美国
15,15.0,机器人总动员,421734.0,喜剧/爱情/科幻/动画/冒险,美国,2008-06-27 00:00:00,98,2008,9.3,美国
16,16.0,十二怒汉,134949.0,剧情,美国,1957-04-01 00:00:00,96,1957,9.3,美国
17,17.0,旅行到宇宙边缘,10044.0,纪录片,美国,2008-11-07 00:00:00,90,2008,9.3,美国
19,19.0,暴力云与送子鹳,75567.0,喜剧/动画/短片/奇幻,美国,2009-05-29 00:00:00,6,2009,9.2,美国
20,20.0,城市之光,31105.0,剧情/喜剧/爱情,美国,1931-01-30 00:00:00,87,1931,9.2,美国
21,21.0,大闹天宫,74881.0,动画/奇幻,中国大陆,1905-05-14 00:00:00,114,1961,9.2,上集
22,22.0,盗梦空间,642134.0,剧情/动作/科幻/悬疑/冒险,美国,2010-09-01 00:00:00,148,2010,9.2,中国大陆
26,26.0,教父,280871.0,剧情/犯罪,美国,1972-03-15 00:00:00,175,1972,9.2,纽约首映
27,27.0,乱世佳人,226131.0,剧情/爱情/战争,美国,1939-12-15 00:00:00,238,1939,9.2,亚特兰大首映
29,29.0,穹顶之下,51113.0,纪录片,中国大陆,2015-02-28 00:00:00,104,2015,9.2,中国大陆
30,30.0,生活多美好,24495.0,剧情/爱情/奇幻,美国,1946-12-20 00:00:00,130,1946,9.2,美国
36,36.0,忠犬八公的故事,352613.0,剧情,美国,2009-06-13 00:00:00,93,2009,9.2,西雅图电影节

In [56]:
# 选取产地：美国或中国大陆，评分大于9
df[((df['产地']=='美国')|(df['产地']=='中国大陆'))&(df['评分']>9)][:20]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4.0,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,5.0,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
6,6.0,辛德勒的名单,306904.0,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映
11,11.0,疯狂动物城,284652.0,喜剧/动作/动画/冒险,美国,2016-03-04 00:00:00,109,2016,9.3,中国大陆/美国
13,13.0,海豚湾,159302.0,纪录片,美国,2009-07-31 00:00:00,92,2009,9.3,美国
15,15.0,机器人总动员,421734.0,喜剧/爱情/科幻/动画/冒险,美国,2008-06-27 00:00:00,98,2008,9.3,美国
16,16.0,十二怒汉,134949.0,剧情,美国,1957-04-01 00:00:00,96,1957,9.3,美国
17,17.0,旅行到宇宙边缘,10044.0,纪录片,美国,2008-11-07 00:00:00,90,2008,9.3,美国
19,19.0,暴力云与送子鹳,75567.0,喜剧/动画/短片/奇幻,美国,2009-05-29 00:00:00,6,2009,9.2,美国
20,20.0,城市之光,31105.0,剧情/喜剧/爱情,美国,1931-01-30 00:00:00,87,1931,9.2,美国
21,21.0,大闹天宫,74881.0,动画/奇幻,中国大陆,1905-05-14 00:00:00,114,1961,9.2,上集
22,22.0,盗梦空间,642134.0,剧情/动作/科幻/悬疑/冒险,美国,2010-09-01 00:00:00,148,2010,9.2,中国大陆
26,26.0,教父,280871.0,剧情/犯罪,美国,1972-03-15 00:00:00,175,1972,9.2,纽约首映
27,27.0,乱世佳人,226131.0,剧情/爱情/战争,美国,1939-12-15 00:00:00,238,1939,9.2,亚特兰大首映
29,29.0,穹顶之下,51113.0,纪录片,中国大陆,2015-02-28 00:00:00,104,2015,9.2,中国大陆
30,30.0,生活多美好,24495.0,剧情/爱情/奇幻,美国,1946-12-20 00:00:00,130,1946,9.2,美国
36,36.0,忠犬八公的故事,352613.0,剧情,美国,2009-06-13 00:00:00,93,2009,9.2,西雅图电影节

In [57]:
# 缺失值和异常值处理

In [54]:
# 判断缺失值
df.isnull()

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
38734,False,False,False,False,False,False,False,False,False,False
38735,False,False,False,False,False,False,False,False,False,False
38736,False,False,False,False,False,False,False,False,False,False
38737,False,False,False,False,False,False,False,False,False,False
38738,True,False,False,False,False,False,False,False,False,False

In [59]:
df[df['名字'].isnull()][:10]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
231,231.0,NaN,144.0,纪录片/音乐,韩国,2011-02-02 00:00:00,90,2011,9.7,美国
361,361.0,NaN,80.0,短片,其他,1905-05-17 00:00:00,4,1964,5.7,美国
369,369.0,NaN,5315.0,剧情,日本,2004-07-10 00:00:00,111,2004,7.5,日本
372,372.0,NaN,263.0,短片/音乐,英国,1998-06-30 00:00:00,34,1998,9.2,美国
374,374.0,NaN,47.0,短片,其他,1905-05-17 00:00:00,3,1964,6.7,美国
375,375.0,NaN,1193.0,短片/音乐,法国,1905-07-01 00:00:00,10,2010,7.7,美国
411,411.0,NaN,32.0,短片,其他,1905-05-17 00:00:00,3,1964,7.0,美国
432,432.0,NaN,1081.0,剧情/动作/惊悚/犯罪,美国,2016-02-26 00:00:00,115,2016,6.0,美国
441,441.0,NaN,213.0,恐怖,美国,2007-03-06 00:00:00,83,2007,3.2,美国
448,448.0,NaN,110.0,纪录片,荷兰,2002-04-19 00:00:00,48,2000,9.3,美国

In [60]:
# 缺失值的填充 fillna()
df[df['评分'].isnull()][:10]

Empty DataFrame
Columns: [Unnamed: 0, 名字, 投票人数, 类型, 产地, 上映时间, 时长, 年代, 评分, 首映地点]
Index: []

In [68]:
# 添加一行
dit = {'名字':'复仇者联盟3','投票人数':123456,'类型':'剧情/科幻','产地':'美国','上映时间':'2018-05-04','时长':142,'年代':2018,'评分':np.nan,'首映地点':'美国'}
s = pd.Series(dit)
s.name = 38738
df = df.append(s)
df

D:\UserD\AppData\Local\Temp\ipykernel_14892\3693530403.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(s)

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.600000,多伦多电影节
1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.500000,美国
2,2.0,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.500000,意大利
3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.400000,洛杉矶首映
4,4.0,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.400000,香港
...,...,...,...,...,...,...,...,...,...,...
38737,38737.0,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.600000,美国
38738,NaN,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04,142,2018,8.700000,美国
38738,NaN,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04,142,2018,8.700000,美国
38738,NaN,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04,142,2018,6.935795,美国
38738,NaN,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04,142,2018,NaN,美国

In [69]:
# 缺失值的填充 fillna()
df[df['评分'].isnull()][:10]

       Unnamed: 0      名字      投票人数     类型  产地        上映时间   时长    年代  评分 首映地点
38738         NaN  复仇者联盟3  123456.0  剧情/科幻  美国  2018-05-04  142  2018 NaN   美国

In [71]:
df['评分'].fillna(np.mean(df['评分']),inplace=True) # inplace=True会将计算出的结果替换原先的空值，写到表里，覆盖之前的数据
df.tail()

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38737,38737.0,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.600000,美国
38738,NaN,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04,142,2018,8.700000,美国
38738,NaN,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04,142,2018,8.700000,美国
38738,NaN,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04,142,2018,6.935795,美国
38738,NaN,复仇者联盟3,123456.0,剧情/科幻,美国,2018-05-04,142,2018,6.935795,美国

In [ ]:
# 删除缺失值dropna()
# how='all' 删除全为空值的行或者列
# inplace=True 覆盖之前的数据
# axis=0 选择行或列

In [ ]:
# 处理异常值
# 异常值：数据集中数据不合理的值

In [72]:
df[df['投票人数']<0]

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
19777,19777.0,皇家大贼 皇家大,-80.0,剧情/犯罪,中国香港,1985-05-31 00:00:00,60,1985,6.3,美国
19786,19786.0,日本的垃圾去中国大陆 にっぽんの“ゴミ” 大陆へ渡る ～中国式リサイクル錬,-80.0,纪录片,日本,1905-06-26 00:00:00,60,2004,7.9,美国
19797,19797.0,女教徒,-118.0,剧情,法国,1966-05-06 00:00:00,135,1966,7.8,美国

In [73]:
df[df['投票人数']%1!=0] # 投票人数是小数

,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
19791,19791.0,女教师 女教,8.30,剧情/犯罪,日本,1977-10-29 00:00:00,100,1977,6.6,日本
19804,19804.0,女郎漫游仙境 ドレミファ娘の血は騒,5.90,喜剧/歌舞,日本,1985-11-03 00:00:00,80,1985,6.7,日本
19820,19820.0,女仆日记,12.87,剧情,法国,2015-04-01 00:00:00,96,2015,5.7,法国
38055,38055.0,逃出亚卡拉,12.87,剧情/动作/惊悚/犯罪,美国,1979-09-20 00:00:00,112,1979,7.8,美国

In [74]:
# 数据保存
df.to_excel('./movie_data.xlsx')

## class02

In [75]:
import pandas as pd
import numpy as np

In [76]:
df = pd.read_excel('./movie_data.xlsx')

In [77]:
df[:5]

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,0.0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,1.0,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,2.0,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,3.0,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,4.0,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [ ]:
# 数据格式的转换

In [78]:
# 查看格式
df['投票人数'].dtype

dtype('float64')

In [80]:
df['投票人数'] = df['投票人数'].astype('int')
df[:5]

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,0.0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,1.0,控方证人,42995,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,2.0,美丽人生,327855,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,3.0,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,4.0,霸王别姬,478523,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [81]:
df['产地'].dtype

dtype('O')

In [83]:
df['产地'] = df['产地'].astype('str')
df['产地'].dtype # dtype('O')就是pandas中的字符串

dtype('O')

In [84]:
# 将年份转化为整数格式
df['年代'] = df['年代'].astype('int')

ValueError: invalid literal for int() with base 10: '2008\u200e'

In [85]:
df[df['年代'] == '2008\u200e']

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
15205,15205,15205.0,狂蟒惊魂,544,恐怖,中国大陆,2008-04-08 00:00:00,93,2008‎,2.7,美国

In [86]:
df[df['年代'] == '2008\u200e']['年代'].values

array(['2008\u200e'], dtype=object)

In [87]:
df.loc[15205,'年代']=2008

In [90]:
df['年代'] = df['年代'].astype('int')
df['年代'].head()

0    1994
1    1957
2    1997
3    1994
4    1993
Name: 年代, dtype: int32

In [91]:
# 将时长转化为整数格式
df['时长'] = df['时长'].astype('int')

ValueError: invalid literal for int() with base 10: '8U'

In [92]:
df[df['时长']=='8U']

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
31644,31644,31644.0,一个被隔绝的世界,46,纪录片/短片,瑞典,2001-10-25 00:00:00,8U,1948,7.8,美国

In [93]:
df.drop([31644],inplace=True)

In [94]:
df['时长'] = df['时长'].astype('int')

ValueError: invalid literal for int() with base 10: '12J'

In [95]:
df[df['时长']=='12J']

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
32949,32949,32949.0,渔业危机,41,纪录片,英国,2009-06-19 00:00:00,12J,2008,8.2,USA

In [96]:
df.drop([32949],inplace=True)

In [97]:
df['时长'] = df['时长'].astype('int')

In [98]:
df.head()

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,0.0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,1,1.0,控方证人,42995,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,2,2.0,美丽人生,327855,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,3,3.0,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,4,4.0,霸王别姬,478523,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [ ]:
# 排序

In [100]:
# 按照投票人数排序
df.sort_values(by='投票人数', ascending=False) # ascending=False降序排列

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,0,0.0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
9,9,9.0,这个杀手不太冷,662552,剧情/动作/犯罪,法国,1994-09-14 00:00:00,133,1994,9.4,法国
22,22,22.0,盗梦空间,642134,剧情/动作/科幻/悬疑/冒险,美国,2010-09-01 00:00:00,148,2010,9.2,中国大陆
3,3,3.0,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
99,99,99.0,三傻大闹宝莱坞,549808,剧情/喜剧/爱情/歌舞,印度,2011-12-08 00:00:00,171,2009,9.1,中国大陆
...,...,...,...,...,...,...,...,...,...,...,...
19791,19791,19791.0,女教师 女教,8,剧情/犯罪,日本,1977-10-29 00:00:00,100,1977,6.6,日本
19804,19804,19804.0,女郎漫游仙境 ドレミファ娘の血は騒,5,喜剧/歌舞,日本,1985-11-03 00:00:00,80,1985,6.7,日本
19777,19777,19777.0,皇家大贼 皇家大,-80,剧情/犯罪,中国香港,1985-05-31 00:00:00,60,1985,6.3,美国
19786,19786,19786.0,日本的垃圾去中国大陆 にっぽんの“ゴミ” 大陆へ渡る ～中国式リサイクル錬,-80,纪录片,日本,1905-06-26 00:00:00,60,2004,7.9,美国
19797,19797,19797.0,女教徒,-118,剧情,法国,1966-05-06 00:00:00,135,1966,7.8,美国

In [101]:
df.sort_values(by='年代')

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
1700,1700,1700.0,朗德海花园场景,650,短片,英国,1888-10-14,60,1888,8.700000,美国
14048,14048,14048.0,利兹大桥,126,短片,英国,1888-10,60,1888,7.200000,美国
26170,26170,26170.0,恶作剧,51,短片,美国,1905-03-04 00:00:00,60,1890,4.800000,美国
10627,10627,10627.0,可怜的比埃洛,176,喜剧/爱情/动画/短片,法国,1892-10-28,60,1892,7.500000,法国
12374,12374,12374.0,更衣室之旁,148,动画/短片,法国,1894-12,60,1894,7.000000,法国
...,...,...,...,...,...,...,...,...,...,...,...
38738,38738,NaN,复仇者联盟3,123456,剧情/科幻,美国,2018-05-04,142,2018,8.700000,美国
38739,38738,NaN,复仇者联盟3,123456,剧情/科幻,美国,2018-05-04,142,2018,8.700000,美国
38741,38738,NaN,复仇者联盟3,123456,剧情/科幻,美国,2018-05-04,142,2018,6.935795,美国
13882,13882,13882.0,武之舞,128,纪录片,中国大陆,1997-02-01 00:00:00,60,34943,9.900000,美国
17115,17115,17115.0,妈妈回来吧-中国打工村的孩子,49,纪录片,日本,2007-04-08 00:00:00,109,39180,8.900000,美国

In [102]:
# 多值排序
df.sort_values(by=['评分','投票人数'], ascending=False)

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
9278,9278,9278.0,平安结祈 平安結,208,音乐,日本,2012-02-24 00:00:00,60,2012,9.9,美国
13882,13882,13882.0,武之舞,128,纪录片,中国大陆,1997-02-01 00:00:00,60,34943,9.9,美国
1110,1110,1110.0,NaN,76,科幻/纪录片,美国,1905-06-23 00:00:00,75,2001,9.9,美国
23559,23559,23559.0,未作回答的问题：伯恩斯坦哈佛六讲,61,纪录片,美国,1905-05-29 00:00:00,60,1973,9.9,美国
35470,35470,35470.0,NaN,46,纪录片/音乐,韩国,2013-10-31 00:00:00,90,2013,9.9,韩国
...,...,...,...,...,...,...,...,...,...,...,...
10219,10219,10219.0,大震撼,185,剧情,中国大陆,2011-05-19 00:00:00,60,2011,2.2,中国大陆
9045,9045,9045.0,钢管侠,168,动作,中国大陆,2015-07-28 00:00:00,60,2015,2.2,中国大陆
13137,13137,13137.0,嫁给大山的女人,2690,剧情,中国大陆,2009-04-22 00:00:00,88,2009,2.1,中国大陆
36080,36080,36080.0,NaN,1334,喜剧/爱情,中国大陆,2014-01-01 00:00:00,91,2014,2.1,中国大陆
29100,29100,29100.0,都是手机惹的祸,42,喜剧,中国大陆,2013-01-18 00:00:00,60,2012,2.0,中国大陆

In [103]:
# 基本统计分析
# 通过描述性统计，可以发现一些异常值，很多异常值往往需要我们逐步去发现的
df.describe()

,Unnamed: 0.1,Unnamed: 0,投票人数,时长,年代,评分
count,38740.000000,38736.000000,38740.000000,38740.000000,38740.000000,38740.000000
mean,19369.832525,19367.832507,6198.259164,89.057228,1998.790604,6.935740
std,11183.898190,11182.743559,26169.948054,83.331604,253.185747,1.270108
min,0.000000,0.000000,-118.000000,1.000000,1888.000000,2.000000
25%,9684.750000,9683.750000,98.000000,60.000000,1990.000000,6.300000
50%,19369.500000,19367.500000,341.000000,92.000000,2005.000000,7.100000
75%,29054.250000,29051.250000,1741.000000,106.000000,2010.000000,7.800000
max,38738.000000,38737.000000,692795.000000,11500.000000,39180.000000,9.900000

In [105]:
df[df['年代']>2018]

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
13882,13882,13882.0,武之舞,128,纪录片,中国大陆,1997-02-01 00:00:00,60,34943,9.9,美国
17115,17115,17115.0,妈妈回来吧-中国打工村的孩子,49,纪录片,日本,2007-04-08 00:00:00,109,39180,8.9,美国

In [106]:
df[df['时长']>1000]

,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
19690,19690,19690.0,怒海余生,54,剧情/家庭/冒险,美国,1937-09-01 00:00:00,11500,1937,7.9,美国
38730,38730,38730.0,喧闹村的孩子们,36,家庭,瑞典,1986-12-06 00:00:00,9200,1986,8.7,瑞典

In [107]:
df.drop(df[df['年代']>2018].index,inplace=True)

In [108]:
df.drop(df[df['时长']>1000].index,inplace=True)

In [109]:
df[df['年代']>2018]

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, 名字, 投票人数, 类型, 产地, 上映时间, 时长, 年代, 评分, 首映地点]
Index: []

In [110]:
df[df['时长']>1000]

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, 名字, 投票人数, 类型, 产地, 上映时间, 时长, 年代, 评分, 首映地点]
Index: []

In [111]:
df.drop(df[df['投票人数']<0].index,inplace=True)

In [112]:
# 删除以后下标不连续
df.index = range(len(df))

In [116]:
# 最值
df['投票人数'].max()

692795

In [114]:
df['投票人数'].min()

5

In [117]:
# 均值和中值
print(df['投票人数'].mean(), df['投票人数'].median())

6199.379624609506 341.0

In [118]:
print(df['评分'].mean(), df['评分'].median())

6.935511620326021 7.1

In [119]:
# 方差和标准差
print(df['评分'].var(), df['评分'].std())

1.6129804125190421 1.2700316580774835

In [120]:
# 求和
df['投票人数'].sum()

240120571

In [121]:
# 相关系数和协方差
df[['投票人数','评分']].corr()

          投票人数        评分
投票人数  1.000000  0.123145
评分    0.123145  1.000000

In [122]:
df[['投票人数','评分']].cov()

              投票人数           评分
投票人数  6.849830e+08  4093.266557
评分    4.093267e+03     1.612980

In [123]:
# 计数
len(df)

38733

In [124]:
df['产地'].unique()

array(['美国', '意大利', '中国大陆', '日本', '法国', '英国', '韩国', '中国香港', '阿根廷', '德国',
       '印度', '其他', '加拿大', '波兰', '泰国', '澳大利亚', '西班牙', '俄罗斯', '中国台湾', '荷兰',
       '丹麦', '比利时', 'USA', '苏联', '墨西哥', '巴西', '瑞典', '西德'], dtype=object)

In [125]:
len(df['产地'].unique())

28

In [126]:
# 重复值替换
df['产地'].replace('USA', '美国', inplace=True)

In [127]:
df['产地'].replace(['西德','苏联'], ['德国','俄罗斯'], inplace=True)

In [128]:
df['产地'].unique()

array(['美国', '意大利', '中国大陆', '日本', '法国', '英国', '韩国', '中国香港', '阿根廷', '德国',
       '印度', '其他', '加拿大', '波兰', '泰国', '澳大利亚', '西班牙', '俄罗斯', '中国台湾', '荷兰',
       '丹麦', '比利时', '墨西哥', '巴西', '瑞典'], dtype=object)

In [129]:
len(df['产地'].unique())

25

In [130]:
# 计算每一年电影的数量
df['年代'].unique()

array([1994, 1957, 1997, 1993, 2012, 2013, 2003, 2016, 2009, 2008, 2001,
       1931, 1961, 2010, 2004, 1998, 1972, 1939, 2015, 1946, 2011, 1982,
       1960, 2006, 1988, 2002, 1995, 1996, 1984, 2014, 1953, 2007, 2000,
       1967, 1983, 1963, 1977, 1966, 1971, 1974, 1985, 1987, 1973, 1962,
       1969, 1989, 1979, 1981, 1936, 1954, 1992, 1970, 1991, 2005, 1920,
       1933, 1990, 1999, 1896, 1965, 1921, 1947, 1975, 1964, 1943, 1928,
       1986, 1895, 1949, 1932, 1919, 1956, 1955, 1951, 1905, 1940, 1908,
       1900, 1978, 1958, 1898, 1976, 1938, 1907, 1913, 1968, 1912, 1937,
       1952, 1903, 1948, 1926, 1906, 1959, 1934, 1944, 1888, 1909, 1925,
       1923, 1945, 1904, 1980, 1917, 1935, 1942, 1950, 1902, 1941, 1930,
       1922, 1916, 1929, 1927, 1914, 1924, 1918, 1899, 1901, 1915, 1892,
       1894, 1910, 1897, 1911, 1890, 2018])

In [131]:
len(df['年代'].unique())

127

In [133]:
# 计算每一年电影的数量
df['年代'].value_counts()[:10]

2012    2042
2013    2001
2008    1963
2014    1887
2010    1886
2011    1866
2009    1862
2007    1711
2015    1592
2006    1515
Name: 年代, dtype: int64

In [135]:
# 电影产出前5位国家或者地区
df['产地'].value_counts()[:5]

美国      11982
日本       5051
中国大陆     3802
中国香港     2851
法国       2816
Name: 产地, dtype: int64

In [136]:
# 保存数据
df.to_excel('./movie_data2.xlsx')

In [ ]:
# 数据透视表 pivot_table()

In [139]:
# 基础形式
pd.set_option('max_columns',100)
pd.set_option('max_rows',500)

OptionError: Pattern matched multiple keys

In [140]:
pd.pivot_table(df, index=['年代'])

D:\UserD\AppData\Local\Temp\ipykernel_14892\4000215516.py:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  pd.pivot_table(df, index=['年代'])

        Unnamed: 0  Unnamed: 0.1           投票人数          时长        评分
年代
1888   7874.000000   7874.000000     388.000000   60.000000  7.950000
1890  26170.000000  26170.000000      51.000000   60.000000  4.800000
1892  10627.000000  10627.000000     176.000000   60.000000  7.500000
1894  16198.000000  16198.000000     112.666667   60.000000  6.633333
1895  13011.500000  13011.500000     959.875000   60.000000  7.575000
...            ...           ...            ...         ...       ...
2013  18999.526237  18999.526237    7603.723138   84.902049  6.392604
2014  19334.110758  19334.110758    7723.302597   85.997880  6.259777
2015  20216.741834  20216.741834    7841.408291   89.863693  6.141960
2016  19927.410853  19927.410853    7176.019380   91.329457  5.868217
2018           NaN  38738.000000  123456.000000  142.000000  7.817898

[127 rows x 5 columns]

In [141]:
# 使用多个索引
pd.pivot_table(df, index=['年代','产地'])

D:\UserD\AppData\Local\Temp\ipykernel_14892\2336247801.py:2: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  pd.pivot_table(df, index=['年代','产地'])

           Unnamed: 0  Unnamed: 0.1           投票人数          时长        评分
年代   产地
1888 英国   7874.000000   7874.000000     388.000000   60.000000  7.950000
1890 美国  26170.000000  26170.000000      51.000000   60.000000  4.800000
1892 法国  10627.000000  10627.000000     176.000000   60.000000  7.500000
1894 法国  12374.000000  12374.000000     148.000000   60.000000  7.000000
     美国  18110.000000  18110.000000      95.000000   60.000000  6.450000
...               ...           ...            ...         ...       ...
2016 法国  23068.750000  23068.750000      39.000000   93.250000  7.475000
     美国  18957.272727  18957.272727   10563.848485   91.984848  6.540909
     英国  22602.090909  22602.090909   14607.272727   85.545455  7.200000
     韩国  18906.100000  18906.100000    1739.850000  106.100000  5.730000
2018 美国           NaN  38738.000000  123456.000000  142.000000  7.817898

[1585 rows x 5 columns]

In [142]:
pd.pivot_table(df, index=['年代','产地'], values=['评分'])

               评分
年代   产地
1888 英国  7.950000
1890 美国  4.800000
1892 法国  7.500000
1894 法国  7.000000
     美国  6.450000
...           ...
2016 法国  7.475000
     美国  6.540909
     英国  7.200000
     韩国  5.730000
2018 美国  7.817898

[1585 rows x 1 columns]

In [143]:
pd.pivot_table(df, index=['年代','产地'], values=['投票人数'], aggfunc=np.sum)

           投票人数
年代   产地
1888 英国     776
1890 美国      51
1892 法国     176
1894 法国     148
     美国     190
...         ...
2016 法国     156
     美国  697214
     英国  160680
     韩国   34797
2018 美国  493824

[1585 rows x 1 columns]

In [144]:
pd.pivot_table(df, index=['产地'], values=['投票人数','评分'], aggfunc=[np.sum, np.mean])

            sum                       mean
           投票人数           评分          投票人数        评分
产地
中国台湾    5237466   4367.20000   8474.864078  7.066667
中国大陆   41435313  23058.00000  10898.293793  6.064703
中国香港   23285389  18457.70000   8167.446159  6.474114
丹麦       394784   1434.70000   1993.858586  7.245960
俄罗斯      486127   3603.50000   1019.134172  7.554507
其他      3054119  13895.90000   1590.686979  7.237448
加拿大     1384765   4868.40000   1915.304288  6.733610
印度      1146271   2453.40000   3210.843137  6.872269
墨西哥      139613    843.40000   1173.218487  7.087395
巴西       357136    733.50000   3536.000000  7.262376
德国      2680983   7428.40000   2597.851744  7.198062
意大利     2502215   5377.30000   3340.740988  7.179306
日本     18000667  36339.30000   3563.782815  7.194476
比利时      170987   1003.30000   1230.122302  7.217986
法国     10213966  20384.70000   3627.118608  7.238885
波兰       159577   1347.00000    881.640884  7.441989
泰国      1564881   1796.10000   5322.724490  6.109184
澳大利亚    1415713   2093.40000   4719.043333  6.978000
瑞典       290077   1423.30000   1510.817708  7.413021
美国    102300040  83240.77159   8537.810048  6.947152
英国     13249562  20789.40000   4797.089790  7.526937
荷兰       144836   1114.50000    934.425806  7.190323
西班牙     1486733   3139.90000   3326.024609  7.024385
阿根廷      258271    843.70000   2226.474138  7.273276
韩国      8761080   8596.40000   6484.885270  6.362990

In [145]:
# margins=True 在最下方显示一些总和数据
pd.pivot_table(df, index=['产地'], aggfunc=[np.sum, np.mean], fill_value=0, margins=True)

D:\UserD\AppData\Local\Temp\ipykernel_14892\2432732635.py:1: FutureWarning: The operation <function sum at 0x00000156E4B019E0> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  pd.pivot_table(df, index=['产地'], aggfunc=[np.sum, np.mean], fill_value=0, margins=True)
D:\UserD\AppData\Local\Temp\ipykernel_14892\2432732635.py:1: FutureWarning: The operation <function mean at 0x00000156E4B03060> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  pd.pivot_table(df, index=['产地'], aggfunc=[np.sum, np.mean], fill_value=0, margins=True)

            sum                                                           \
     Unnamed: 0 Unnamed: 0.1        年代       投票人数       时长            评分
产地
中国台湾   11959927     11959927   1235388    5237466    53925    4367.20000
中国大陆   77537941     77537941   7621488   41435313   309608   23058.00000
中国香港   54830747     54830747   5676627   23285389   252431   18457.70000
丹麦      4042735      4042735    395820     394784    17444    1434.70000
俄罗斯     9581404      9581404    946797     486127    45753    3603.50000
其他     38542378     38542378   3837588    3054119   167168   13895.90000
加拿大    14046604     14046604   1447780    1384765    57919    4868.40000
印度      7342014      7342014    716133    1146271    43203    2453.40000
墨西哥     2529161      2529161    237145     139613    10929     843.40000
巴西      2134066      2134066    201987     357136     8869     733.50000
德国     20695017     20695017   2059937    2680983    95008    7428.40000
意大利    15198009     15198009   1487142    2502215    77902    5377.30000
日本     92815837     92815837  10101505   18000667   427863   36339.30000
比利时     2754457      2754457    277930     170987    11447    1003.30000
法国     55079163     55079163   5608811   10213966   253169   20384.70000
波兰      3742447      3742447    359652     159577    14613    1347.00000
泰国      5031292      5031292    590684    1564881    26002    1796.10000
澳大利亚    6025504      6025504    600896    1415713    25549    2093.40000
瑞典      3865865      3865865    381491     290077    17898    1423.30000
美国    230881688    231036640  23899041  102300040  1070736   83240.77159
英国     52645654     52645654   5514959   13249562   244005   20789.40000
荷兰      2989646      2989646    310199     144836    11685    1114.50000
西班牙     8501520      8501520    894710    1486733    40455    3139.90000
阿根廷     2458212      2458212    232468     258271    10638     843.70000
韩国     24852295     24852295   2712969    8761080   134734    8596.40000
All   741126139    741126139  76216293  239112081  3394392  264182.30000

              mean                                                       \
        Unnamed: 0  Unnamed: 0.1           年代          投票人数          时长
产地
中国台湾  19352.632686  19352.632686  1999.009709   8474.864078   87.257282
中国大陆  20393.987638  20393.987638  2004.599684  10898.293793   81.432930
中国香港  19232.110488  19232.110488  1991.100316   8167.446159   88.541214
丹麦    20417.853535  20417.853535  1999.090909   1993.858586   88.101010
俄罗斯   20086.800839  20086.800839  1984.899371   1019.134172   95.918239
其他    20074.155208  20074.155208  1998.743750   1590.686979   87.066667
加拿大   19428.221300  19428.221300  2002.461964   1915.304288   80.109267
印度    20565.865546  20565.865546  2005.974790   3210.843137  121.016807
墨西哥   21253.453782  21253.453782  1992.815126   1173.218487   91.840336
巴西    21129.366337  21129.366337  1999.871287   3536.000000   87.811881
德国    20053.311047  20053.311047  1996.062984   2597.851744   92.062016
意大利   20291.066756  20291.066756  1985.503338   3340.740988  104.008011
日本    18375.734904  18375.734904  1999.902000   3563.782815   84.708573
比利时   19816.237410  19816.237410  1999.496403   1230.122302   82.352518
法国    19559.361861  19559.361861  1991.765270   3627.118608   89.903764
波兰    20676.502762  20676.502762  1987.027624    881.640884   80.734807
泰国    17113.238095  17113.238095  2009.129252   5322.724490   88.442177
澳大利亚  20085.013333  20085.013333  2002.986667   4719.043333   85.163333
瑞典    20134.713542  20134.713542  1986.932292   1510.817708   93.218750
美国    19275.479045  19281.976298  1994.578618   8537.810048   89.362043
英国    19060.700217  19060.700217  1996.726647   4797.089790   88.343592
荷兰    19288.038710  19288.038710  2001.283871    934.425806   75.387097
西班牙   19019.060403  19019.060403  2001.588367   3326.024609   90.503356
阿根廷   21191.482759  21191.482759  2004.034483   2226.474138   91.706897
韩国    18395.481125  18395.481125  2008.119171   6484.885270   99.729090
All   19418.491301  19418.491301  1996.968323   6265.054787   88.937588


            评分
产地
中国台湾  7.066667
中国大陆  6.064703
中国香港  6.474114
丹麦    7.245960
俄罗斯   7.554507
其他    7.237448
加拿大   6.733610
印度    6.872269
墨西哥   7.087395
巴西    7.262376
德国    7.198062
意大利   7.179306
日本    7.194476
比利时   7.217986
法国    7.238885
波兰    7.441989
泰国    6.109184
澳大利亚  6.978000
瑞典    7.413021
美国    6.947152
英国    7.526937
荷兰    7.190323
西班牙   7.024385
阿根廷   7.273276
韩国    6.362990
All   6.921928

In [147]:
pd.pivot_table(df, index=['产地'], aggfunc={'投票人数':np.sum, '评分':np.mean}, fill_value=0)

           投票人数        评分
产地
中国台湾    5237466  7.066667
中国大陆   41435313  6.064703
中国香港   23285389  6.474114
丹麦       394784  7.245960
俄罗斯      486127  7.554507
其他      3054119  7.237448
加拿大     1384765  6.733610
印度      1146271  6.872269
墨西哥      139613  7.087395
巴西       357136  7.262376
德国      2680983  7.198062
意大利     2502215  7.179306
日本     18000667  7.194476
比利时      170987  7.217986
法国     10213966  7.238885
波兰       159577  7.441989
泰国      1564881  6.109184
澳大利亚    1415713  6.978000
瑞典       290077  7.413021
美国    102300040  6.947152
英国     13249562  7.526937
荷兰       144836  7.190323
西班牙     1486733  7.024385
阿根廷      258271  7.273276
韩国      8761080  6.362990

In [148]:
pd.pivot_table(df, index=['产地'], values=['投票人数','评分'], aggfunc={'投票人数':np.sum, '评分':np.mean}, fill_value=0, margins=True)

           投票人数        评分
产地
中国台湾    5237466  7.066667
中国大陆   41435313  6.064703
中国香港   23285389  6.474114
丹麦       394784  7.245960
俄罗斯      486127  7.554507
其他      3054119  7.237448
加拿大     1384765  6.733610
印度      1146271  6.872269
墨西哥      139613  7.087395
巴西       357136  7.262376
德国      2680983  7.198062
意大利     2502215  7.179306
日本     18000667  7.194476
比利时      170987  7.217986
法国     10213966  7.238885
波兰       159577  7.441989
泰国      1564881  6.109184
澳大利亚    1415713  6.978000
瑞典       290077  7.413021
美国    102300040  6.947152
英国     13249562  7.526937
荷兰       144836  7.190323
西班牙     1486733  7.024385
阿根廷      258271  7.273276
韩国      8761080  6.362990
All   240120571  6.935512

In [149]:
# 透视表过滤
table = pd.pivot_table(df, index=['年代'], values=['投票人数','评分'], aggfunc={'投票人数':np.sum, '评分':np.mean}, fill_value=0, margins=True)

In [150]:
type(table)

pandas.core.frame.DataFrame

In [151]:
table[:5]

      投票人数        评分
年代
1888   776  7.950000
1890    51  4.800000
1892   176  7.500000
1894   338  6.633333
1895  7679  7.575000

In [152]:
table[table.index==1994]

         投票人数        评分
年代
1994  5670752  7.262348

In [154]:
table.sort_values('评分',ascending=False)[:10]

        投票人数        评分
年代
1924   10410  8.053571
1888     776  7.950000
1928   16193  7.945000
1912     761  7.920000
1923    7668  7.883333
2018  493824  7.817898
1922   16876  7.804545
1925   27607  7.788000
1926   10203  7.773913
1916    7364  7.758333

## class03

In [155]:
import pandas as pd
import numpy as np

In [175]:
df = pd.read_excel('./movie_data2.xlsx')

In [ ]:
# 数据重塑和轴向旋转

In [ ]:
# 层次化索引

In [157]:
s = pd.Series(np.arange(1,10), index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,2,3,1,2,3]])
s

a  1    1
   2    2
   3    3
b  1    4
   2    5
c  3    6
   1    7
d  2    8
   3    9
dtype: int32

In [160]:
s.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [161]:
s['a']

1    1
2    2
3    3
dtype: int32

In [162]:
s['a':'c']

a  1    1
   2    2
   3    3
b  1    4
   2    5
c  3    6
   1    7
dtype: int32

In [163]:
s[:,1] # 取内层的1

a    1
b    4
c    7
dtype: int32

In [165]:
s['c',3] # 取c,3

6

In [166]:
# 通过unstack方法将Series变成一个DataFrame，会产生空值
s.unstack()

     1    2    3
a  1.0  2.0  3.0
b  4.0  5.0  NaN
c  7.0  NaN  6.0
d  NaN  8.0  9.0

In [167]:
s.unstack().stack()

a  1    1.0
   2    2.0
   3    3.0
b  1    4.0
   2    5.0
c  1    7.0
   3    6.0
d  2    8.0
   3    9.0
dtype: float64

In [ ]:
# DataFrame的层次化索引

In [171]:
data = pd.DataFrame(np.arange(12).reshape(4,3), index=[['a','a','b','b'],[1,2,1,2]], columns=[['A','A','B'],['Z','X','C']])
data

     A       B
     Z   X   C
a 1  0   1   2
  2  3   4   5
b 1  6   7   8
  2  9  10  11

In [172]:
data['A']

     Z   X
a 1  0   1
  2  3   4
b 1  6   7
  2  9  10

In [173]:
data.index.names = ['row1','row2']
data.columns.names = ['col1','col2']
data

col1       A       B
col2       Z   X   C
row1 row2
a    1     0   1   2
     2     3   4   5
b    1     6   7   8
     2     9  10  11

In [174]:
data.swaplevel('row1','row2')

col1       A       B
col2       Z   X   C
row2 row1
1    a     0   1   2
2    a     3   4   5
1    b     6   7   8
2    b     9  10  11

In [ ]:
# 将电影数据处理成多层索引结构

In [176]:
df.index

RangeIndex(start=0, stop=38733, step=1)

In [ ]:
# set_index()可以将列变成索引
# reset_index()可以将索引变成列

In [179]:
df = df.set_index(['产地','年代'])
df

           Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0  \
产地   年代
美国   1994             0             0         0.0
     1957             1             1         1.0
意大利  1997             2             2         2.0
美国   1994             3             3         3.0
中国大陆 1993             4             4         4.0
...                 ...           ...         ...
俄罗斯  1977         38728         38737     38737.0
美国   2018         38729         38738         NaN
     2018         38730         38738         NaN
     2018         38731         38738         NaN
     2018         38732         38738         NaN

                                                          名字    投票人数  \
产地   年代
美国   1994                                             肖申克的救赎  692795
     1957                                               控方证人   42995
意大利  1997                                              美丽人生   327855
美国   1994                                               阿甘正传  580897
中国大陆 1993                                               霸王别姬  478523
...                                                      ...     ...
俄罗斯  1977  列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...      32
美国   2018                                             复仇者联盟3  123456
     2018                                             复仇者联盟3  123456
     2018                                             复仇者联盟3  123456
     2018                                             复仇者联盟3  123456

                 类型                 上映时间   时长        评分    首映地点
产地   年代
美国   1994     剧情/犯罪  1994-09-10 00:00:00  142  9.600000  多伦多电影节
     1957  剧情/悬疑/犯罪  1957-12-17 00:00:00  116  9.500000      美国
意大利  1997  剧情/喜剧/爱情  1997-12-20 00:00:00  116  9.500000     意大利
美国   1994     剧情/爱情  1994-06-23 00:00:00  142  9.400000   洛杉矶首映
中国大陆 1993  剧情/爱情/同性  1993-01-01 00:00:00  171  9.400000      香港
...             ...                  ...  ...       ...     ...
俄罗斯  1977     剧情/战争  1905-05-30 00:00:00   97  6.600000      美国
美国   2018     剧情/科幻           2018-05-04  142  8.700000      美国
     2018     剧情/科幻           2018-05-04  142  8.700000      美国
     2018     剧情/科幻           2018-05-04  142  6.935795      美国
     2018     剧情/科幻           2018-05-04  142  6.935795      美国

[38733 rows x 10 columns]

In [180]:
df.index[0] # 每一个索引都是一个元祖

('美国', 1994)

In [181]:
df.loc['美国']

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点
年代,,,,,,,,,,
1994,0,0,0.0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.600000,多伦多电影节
1957,1,1,1.0,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.500000,美国
1994,3,3,3.0,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.400000,洛杉矶首映
2012,5,5,5.0,泰坦尼克号,157074,剧情/爱情/灾难,2012-04-10 00:00:00,194,9.400000,中国大陆
1993,6,6,6.0,辛德勒的名单,306904,剧情/历史/战争,1993-11-30 00:00:00,195,9.400000,华盛顿首映
...,...,...,...,...,...,...,...,...,...,...
1935,38725,38734,38734.0,1935年,57,喜剧/歌舞,1935-03-15 00:00:00,98,7.600000,美国
2018,38729,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,8.700000,美国
2018,38730,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,8.700000,美国
2018,38731,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,6.935795,美国
2018,38732,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,6.935795,美国

In [182]:
df.loc['中国大陆']

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点
年代,,,,,,,,,,
1993,4,4,4.0,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港
1961,21,21,21.0,大闹天宫,74881,动画/奇幻,1905-05-14 00:00:00,114,9.2,上集
2015,29,29,29.0,穹顶之下,51113,纪录片,2015-02-28 00:00:00,104,9.2,中国大陆
1982,38,38,38.0,茶馆,10678,剧情/历史,1905-06-04 00:00:00,118,9.2,美国
1988,45,45,45.0,山水情,10781,动画/短片,1905-06-10 00:00:00,19,9.2,美国
...,...,...,...,...,...,...,...,...,...,...
1986,38719,38727,38727.0,T省的八四、八五,380,剧情,1905-06-08 00:00:00,94,8.7,美国
1986,38721,38729,38729.0,失踪的女中学生,101,儿童,1905-06-08 00:00:00,102,7.4,美国
1986,38722,38731,38731.0,血战台儿庄,2908,战争,1905-06-08 00:00:00,120,8.1,美国
1986,38726,38735,38735.0,血溅画屏,95,剧情/悬疑/犯罪/武侠/古装,1905-06-08 00:00:00,91,7.1,美国
1986,38727,38736,38736.0,魔窟中的幻想,51,惊悚/恐怖/儿童,1905-06-08 00:00:00,78,8.0,美国

In [183]:
df = df.swaplevel('产地','年代')
df

           Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0  \
年代   产地
1994 美国               0             0         0.0
1957 美国               1             1         1.0
1997 意大利              2             2         2.0
1994 美国               3             3         3.0
1993 中国大陆             4             4         4.0
...                 ...           ...         ...
1977 俄罗斯          38728         38737     38737.0
2018 美国           38729         38738         NaN
     美国           38730         38738         NaN
     美国           38731         38738         NaN
     美国           38732         38738         NaN

                                                          名字    投票人数  \
年代   产地
1994 美国                                               肖申克的救赎  692795
1957 美国                                                 控方证人   42995
1997 意大利                                               美丽人生   327855
1994 美国                                                 阿甘正传  580897
1993 中国大陆                                               霸王别姬  478523
...                                                      ...     ...
1977 俄罗斯   列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...      32
2018 美国                                               复仇者联盟3  123456
     美国                                               复仇者联盟3  123456
     美国                                               复仇者联盟3  123456
     美国                                               复仇者联盟3  123456

                 类型                 上映时间   时长        评分    首映地点
年代   产地
1994 美国       剧情/犯罪  1994-09-10 00:00:00  142  9.600000  多伦多电影节
1957 美国    剧情/悬疑/犯罪  1957-12-17 00:00:00  116  9.500000      美国
1997 意大利   剧情/喜剧/爱情  1997-12-20 00:00:00  116  9.500000     意大利
1994 美国       剧情/爱情  1994-06-23 00:00:00  142  9.400000   洛杉矶首映
1993 中国大陆  剧情/爱情/同性  1993-01-01 00:00:00  171  9.400000      香港
...             ...                  ...  ...       ...     ...
1977 俄罗斯      剧情/战争  1905-05-30 00:00:00   97  6.600000      美国
2018 美国       剧情/科幻           2018-05-04  142  8.700000      美国
     美国       剧情/科幻           2018-05-04  142  8.700000      美国
     美国       剧情/科幻           2018-05-04  142  6.935795      美国
     美国       剧情/科幻           2018-05-04  142  6.935795      美国

[38733 rows x 10 columns]

In [186]:
df.loc[1994]

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点
产地,,,,,,,,,,
美国,0,0,0.0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节
美国,3,3,3.0,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映
法国,9,9,9.0,这个杀手不太冷,662552,剧情/动作/犯罪,1994-09-14 00:00:00,133,9.4,法国
美国,314,314,314.0,34街的,768,剧情/家庭/奇幻,1994-12-23 00:00:00,114,7.9,美国
中国大陆,402,402,402.0,活着,202794,剧情/家庭,1994-05-18 00:00:00,132,9.0,法国
...,...,...,...,...,...,...,...,...,...,...
美国,38209,38217,38217.0,鬼精灵2： 恐怖,60,喜剧/恐怖/奇幻,1994-04-08 00:00:00,85,5.8,美国
英国,38339,38347,38347.0,黑色第16,44,剧情/惊悚,1996-02-01 00:00:00,106,6.8,美国
日本,38683,38691,38691.0,蜡笔小新之布里布里王国的秘密宝藏 クレヨンしんちゃん ブリブリ王国の,2142,动画,1994-04-23 00:00:00,94,7.7,日本
日本,38685,38693,38693.0,龙珠Z剧场版10：两人面临危机! 超战士难以成眠 ドラゴンボール Z 劇場版：危険なふたり！,579,动画,1994-03-12 00:00:00,53,7.2,美国
中国香港,38686,38694,38694.0,重案实录之惊天械劫案 重案實錄之驚天械劫,90,动作/犯罪,1905-06-16 00:00:00,114,7.3,美国

In [189]:
# 取消层次化索引
df = df.reset_index()
df

,index,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点
0,0,1994,美国,0,0,0.0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.600000,多伦多电影节
1,1,1957,美国,1,1,1.0,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.500000,美国
2,2,1997,意大利,2,2,2.0,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.500000,意大利
3,3,1994,美国,3,3,3.0,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.400000,洛杉矶首映
4,4,1993,中国大陆,4,4,4.0,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.400000,香港
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38728,38728,1977,俄罗斯,38728,38737,38737.0,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32,剧情/战争,1905-05-30 00:00:00,97,6.600000,美国
38729,38729,2018,美国,38729,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,8.700000,美国
38730,38730,2018,美国,38730,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,8.700000,美国
38731,38731,2018,美国,38731,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,6.935795,美国
38732,38732,2018,美国,38732,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,6.935795,美国

In [191]:
# 数据旋转
data = df[:5]
data

,index,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点
0,0,1994,美国,0,0,0.0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节
1,1,1957,美国,1,1,1.0,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国
2,2,1997,意大利,2,2,2.0,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利
3,3,1994,美国,3,3,3.0,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映
4,4,1993,中国大陆,4,4,4.0,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港

In [192]:
data.T # 数据行列交换

,0,1,2,3,4
index,0,1,2,3,4
年代,1994,1957,1997,1994,1993
产地,美国,美国,意大利,美国,中国大陆
Unnamed: 0.2,0,1,2,3,4
Unnamed: 0.1,0,1,2,3,4
Unnamed: 0,0.0,1.0,2.0,3.0,4.0
名字,肖申克的救赎,控方证人,美丽人生,阿甘正传,霸王别姬
投票人数,692795,42995,327855,580897,478523
类型,剧情/犯罪,剧情/悬疑/犯罪,剧情/喜剧/爱情,剧情/爱情,剧情/爱情/同性
上映时间,1994-09-10 00:00:00,1957-12-17 00:00:00,1997-12-20 00:00:00,1994-06-23 00:00:00,1993-01-01 00:00:00
时长,142,116,116,142,171
评分,9.6,9.5,9.5,9.4,9.4
首映地点,多伦多电影节,美国,意大利,洛杉矶首映,香港

In [194]:
data.stack().unstack()

,index,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点
0,0,1994,美国,0,0,0.0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节
1,1,1957,美国,1,1,1.0,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国
2,2,1997,意大利,2,2,2.0,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利
3,3,1994,美国,3,3,3.0,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映
4,4,1993,中国大陆,4,4,4.0,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港

In [195]:
# 数据分组，分组运算

In [196]:
group = df.groupby(df['产地'])
group

In [197]:
group.mean()

D:\UserD\AppData\Local\Temp\ipykernel_14892\3928442431.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  group.mean()

,index,年代,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,投票人数,时长,评分
产地,,,,,,,,
中国台湾,19349.056634,1999.009709,19349.056634,19352.632686,19352.632686,8474.864078,87.257282,7.066667
中国大陆,20390.211205,2004.599684,20390.211205,20393.987638,20393.987638,10898.293793,81.432930,6.064703
中国香港,19228.618730,1991.100316,19228.618730,19232.110488,19232.110488,8167.446159,88.541214,6.474114
丹麦,20414.050505,1999.090909,20414.050505,20417.853535,20417.853535,1993.858586,88.101010,7.245960
俄罗斯,20083.096436,1984.899371,20083.096436,20086.800839,20086.800839,1019.134172,95.918239,7.554507
其他,20070.478646,1998.743750,20070.478646,20074.155208,20074.155208,1590.686979,87.066667,7.237448
加拿大,19424.692946,2002.461964,19424.692946,19428.221300,19428.221300,1915.304288,80.109267,6.733610
印度,20562.064426,2005.974790,20562.064426,20565.865546,20565.865546,3210.843137,121.016807,6.872269
墨西哥,21249.588235,1992.815126,21249.588235,21253.453782,21253.453782,1173.218487,91.840336,7.087395
巴西,21125.514851,1999.871287,21125.514851,21129.366337,21129.366337,3536.000000,87.811881,7.262376
德国,20049.641473,1996.062984,20049.641473,20053.311047,20053.311047,2597.851744,92.062016,7.198062
意大利,20287.311081,1985.503338,20287.311081,20291.066756,20291.066756,3340.740988,104.008011,7.179306
日本,18372.481291,1999.902000,18372.481291,18375.734904,18375.734904,3563.782815,84.708573,7.194476
比利时,19812.438849,1999.496403,19812.438849,19816.237410,19816.237410,1230.122302,82.352518,7.217986
法国,19555.829190,1991.765270,19555.829190,19559.361861,19559.361861,3627.118608,89.903764,7.238885
波兰,20672.535912,1987.027624,20672.535912,20676.502762,20676.502762,881.640884,80.734807,7.441989
泰国,17110.217687,2009.129252,17110.217687,17113.238095,17113.238095,5322.724490,88.442177,6.109184
澳大利亚,20081.443333,2002.986667,20081.443333,20085.013333,20085.013333,4719.043333,85.163333,6.978000
瑞典,20130.947917,1986.932292,20130.947917,20134.713542,20134.713542,1510.817708,93.218750,7.413021
美国,19278.546153,1994.578618,19278.546153,19281.976298,19275.479045,8537.810048,89.362043,6.947152
英国,19057.263577,1996.726647,19057.263577,19060.700217,19060.700217,4797.089790,88.343592,7.526937
荷兰,19284.354839,2001.283871,19284.354839,19288.038710,19288.038710,934.425806,75.387097,7.190323
西班牙,19015.722595,2001.588367,19015.722595,19019.060403,19019.060403,3326.024609,90.503356,7.024385
阿根廷,21187.405172,2004.034483,21187.405172,21191.482759,21191.482759,2226.474138,91.706897,7.273276
韩国,18392.253886,2008.119171,18392.253886,18395.481125,18395.481125,6484.885270,99.729090,6.362990

In [198]:
# 计算每年的平均评分
df['评分'].groupby(df['年代']).mean()

年代
1888    7.950000
1890    4.800000
1892    7.500000
1894    6.633333
1895    7.575000
          ...
2013    6.392604
2014    6.259777
2015    6.141960
2016    5.868217
2018    7.817898
Name: 评分, Length: 127, dtype: float64

In [199]:
# 只会对数值变量进行分组运算
df['年代'] = df['年代'].astype('str') # 将年份转成字符串就不会像上面对年份进行均值的运算

In [200]:
df.groupby(df['产地']).mean()

D:\UserD\AppData\Local\Temp\ipykernel_14892\2438262297.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(df['产地']).mean()

,index,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,投票人数,时长,评分
产地,,,,,,,
中国台湾,19349.056634,19349.056634,19352.632686,19352.632686,8474.864078,87.257282,7.066667
中国大陆,20390.211205,20390.211205,20393.987638,20393.987638,10898.293793,81.432930,6.064703
中国香港,19228.618730,19228.618730,19232.110488,19232.110488,8167.446159,88.541214,6.474114
丹麦,20414.050505,20414.050505,20417.853535,20417.853535,1993.858586,88.101010,7.245960
俄罗斯,20083.096436,20083.096436,20086.800839,20086.800839,1019.134172,95.918239,7.554507
其他,20070.478646,20070.478646,20074.155208,20074.155208,1590.686979,87.066667,7.237448
加拿大,19424.692946,19424.692946,19428.221300,19428.221300,1915.304288,80.109267,6.733610
印度,20562.064426,20562.064426,20565.865546,20565.865546,3210.843137,121.016807,6.872269
墨西哥,21249.588235,21249.588235,21253.453782,21253.453782,1173.218487,91.840336,7.087395
巴西,21125.514851,21125.514851,21129.366337,21129.366337,3536.000000,87.811881,7.262376
德国,20049.641473,20049.641473,20053.311047,20053.311047,2597.851744,92.062016,7.198062
意大利,20287.311081,20287.311081,20291.066756,20291.066756,3340.740988,104.008011,7.179306
日本,18372.481291,18372.481291,18375.734904,18375.734904,3563.782815,84.708573,7.194476
比利时,19812.438849,19812.438849,19816.237410,19816.237410,1230.122302,82.352518,7.217986
法国,19555.829190,19555.829190,19559.361861,19559.361861,3627.118608,89.903764,7.238885
波兰,20672.535912,20672.535912,20676.502762,20676.502762,881.640884,80.734807,7.441989
泰国,17110.217687,17110.217687,17113.238095,17113.238095,5322.724490,88.442177,6.109184
澳大利亚,20081.443333,20081.443333,20085.013333,20085.013333,4719.043333,85.163333,6.978000
瑞典,20130.947917,20130.947917,20134.713542,20134.713542,1510.817708,93.218750,7.413021
美国,19278.546153,19278.546153,19281.976298,19275.479045,8537.810048,89.362043,6.947152
英国,19057.263577,19057.263577,19060.700217,19060.700217,4797.089790,88.343592,7.526937
荷兰,19284.354839,19284.354839,19288.038710,19288.038710,934.425806,75.387097,7.190323
西班牙,19015.722595,19015.722595,19019.060403,19019.060403,3326.024609,90.503356,7.024385
阿根廷,21187.405172,21187.405172,21191.482759,21191.482759,2226.474138,91.706897,7.273276
韩国,18392.253886,18392.253886,18395.481125,18395.481125,6484.885270,99.729090,6.362990

In [201]:
# 传入多个分组变量
df.groupby([df['产地'], df['年代']]).mean()

D:\UserD\AppData\Local\Temp\ipykernel_14892\1976253221.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby([df['产地'], df['年代']]).mean()

                  index  Unnamed: 0.2  Unnamed: 0.1    Unnamed: 0  \
产地   年代
中国台湾 1963  14805.000000  14805.000000  14806.000000  14806.000000
     1965  30279.000000  30279.000000  30285.000000  30285.000000
     1966  26302.000000  26302.000000  26308.000000  26308.000000
     1967  16605.000000  16605.000000  16606.000000  16606.000000
     1968  21279.500000  21279.500000  21285.500000  21285.500000
...                 ...           ...           ...           ...
韩国   2012  17577.584906  17577.584906  17580.452830  17580.452830
     2013  18954.819820  18954.819820  18958.252252  18958.252252
     2014  19883.516667  19883.516667  19887.200000  19887.200000
     2015  19037.688073  19037.688073  19040.908257  19040.908257
     2016  18902.900000  18902.900000  18906.100000  18906.100000

                   投票人数          时长        评分
产地   年代
中国台湾 1963    121.000000  113.000000  6.400000
     1965    153.666667  105.000000  6.800000
     1966     51.000000   60.000000  7.900000
     1967   4444.000000  112.000000  8.000000
     1968     89.000000   83.000000  7.400000
...                 ...         ...       ...
韩国   2012   5762.537736  100.669811  6.064151
     2013  10189.036036   96.504505  6.098198
     2014   3776.266667   98.666667  5.650833
     2015   3209.247706  100.266055  5.423853
     2016   1739.850000  106.100000  5.730000

[1585 rows x 7 columns]

In [202]:
# 获取每个地区，每一年的电影评分的均值
group = df['评分'].groupby([df['产地'], df['年代']])
means = group.mean()
means

产地    年代
中国台湾  1963    6.400000
      1965    6.800000
      1966    7.900000
      1967    8.000000
      1968    7.400000
                ...
韩国    2012    6.064151
      2013    6.098198
      2014    5.650833
      2015    5.423853
      2016    5.730000
Name: 评分, Length: 1585, dtype: float64

In [ ]:
# 离散化处理，离散化也称分组、区间化
# 在实际的数据分析项目中，对所有的数据属性，我们往往不关注数据的绝对取值，只关注它所处的区间或者等级。

In [205]:
df['评分等级'] = pd.cut(df['评分'], [0,3,5,7,9,10], labels=['E','D','C','B','A'])
df

,index,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级
0,0,1994,美国,0,0,0.0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.600000,多伦多电影节,A
1,1,1957,美国,1,1,1.0,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.500000,美国,A
2,2,1997,意大利,2,2,2.0,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.500000,意大利,A
3,3,1994,美国,3,3,3.0,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.400000,洛杉矶首映,A
4,4,1993,中国大陆,4,4,4.0,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.400000,香港,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38728,38728,1977,俄罗斯,38728,38737,38737.0,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32,剧情/战争,1905-05-30 00:00:00,97,6.600000,美国,C
38729,38729,2018,美国,38729,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,8.700000,美国,B
38730,38730,2018,美国,38730,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,8.700000,美国,B
38731,38731,2018,美国,38731,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,6.935795,美国,C
38732,38732,2018,美国,38732,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,6.935795,美国,C

In [206]:
# 同样的投票人数也可以刻画电影的热门程度
bins = np.percentile(df['投票人数'], [0,20,40,60,80,100])

In [207]:
df['热门程度'] = pd.cut(df['投票人数'], bins, labels=['E','D','C','B','A'])
df

,index,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
0,0,1994,美国,0,0,0.0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.600000,多伦多电影节,A,A
1,1,1957,美国,1,1,1.0,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.500000,美国,A,A
2,2,1997,意大利,2,2,2.0,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.500000,意大利,A,A
3,3,1994,美国,3,3,3.0,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.400000,洛杉矶首映,A,A
4,4,1993,中国大陆,4,4,4.0,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.400000,香港,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38728,38728,1977,俄罗斯,38728,38737,38737.0,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32,剧情/战争,1905-05-30 00:00:00,97,6.600000,美国,C,E
38729,38729,2018,美国,38729,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,8.700000,美国,B,A
38730,38730,2018,美国,38730,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,8.700000,美国,B,A
38731,38731,2018,美国,38731,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,6.935795,美国,C,A
38732,38732,2018,美国,38732,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,6.935795,美国,C,A

In [209]:
df[(df['热门程度']=='A')&(df['评分等级']=='E')]

,index,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
655,655,2011,中国大陆,655,655,655.0,B区,5187,剧情/惊悚/恐怖,2011-06-03 00:00:00,89,2.3,中国大陆,E,A
4376,4376,2014,中国大陆,4376,4376,4376.0,怖偶,4867,悬疑/惊悚,2014-05-07 00:00:00,88,2.8,中国大陆,E,A
5413,5413,2011,中国大陆,5413,5413,5413.0,床下有人,4309,悬疑/惊悚,2011-10-14 00:00:00,100,2.8,中国大陆,E,A
6802,6802,2013,中国大陆,6802,6802,6802.0,帝国秘符,4351,动作/冒险,2013-09-18 00:00:00,93,3.0,中国大陆,E,A
8232,8232,2011,中国大陆,8232,8232,8232.0,飞天,4764,剧情,2011-07-01 00:00:00,115,2.9,中国大陆,E,A
8406,8406,2014,中国大陆,8406,8406,8406.0,分手达人,3937,喜剧/爱情,2014-06-06 00:00:00,90,2.7,中国大陆,E,A
9601,9601,2012,中国大陆,9601,9601,9601.0,孤岛惊魂,2982,悬疑/惊悚/恐怖,2013-01-26 00:00:00,93,2.8,中国大陆,E,A
10513,10513,2013,中国大陆,10513,10513,10513.0,海天盛宴·韦口,3788,情色,2013-10-12 00:00:00,88,2.9,网络,E,A
16799,16799,2013,中国大陆,16799,16800,16800.0,孪生密码,6390,动作/悬疑,2013-11-08 00:00:00,96,2.9,中国大陆,E,A
21533,21533,2010,日本,21533,21539,21539.0,拳皇,6329,动作/科幻/冒险,2012-10-12 00:00:00,93,3.0,中国大陆,E,A
22705,22705,2013,中国大陆,22705,22711,22711.0,闪魂,3119,惊悚/犯罪,2014-02-21 00:00:00,94,2.6,中国大陆,E,A
22883,22883,2015,中国大陆,22883,22889,22889.0,少年毛泽东,3058,动画/儿童/冒险,2015-04-30 00:00:00,76,2.4,中国大陆,E,A
24128,24128,2013,英国,24128,24134,24134.0,史前怪兽,3543,动作/惊悚/冒险,2014-01-01 00:00:00,89,3.0,中国大陆,E,A
28261,28261,2011,中国大陆,28261,28267,28267.0,无极限之危情速递,6319,喜剧/动作/爱情/冒险,2011-08-12 00:00:00,94,2.8,中国大陆,E,A
32098,32098,2010,中国大陆,32098,32105,32105.0,异度公寓,3639,惊悚,2010-06-04 00:00:00,93,2.7,中国大陆,E,A
32491,32491,2014,中国大陆,32491,32498,32498.0,英雄之战,8359,动作/爱情,2014-03-21 00:00:00,90,3.0,中国大陆,E,A
32664,32664,2013,中国大陆,32664,32671,32671.0,咏春小龙,8861,剧情/动作,2013-07-20 00:00:00,90,3.0,中国大陆,E,A
33488,33488,2014,中国大陆,33488,33496,33496.0,再爱一次好不好,6999,喜剧/爱情,2014-04-11 00:00:00,94,3.0,中国大陆,E,A
38657,38657,2014,中国大陆,38657,38665,38665.0,大话天仙,21629,喜剧/奇幻/古装,2014-02-02 00:00:00,91,3.0,中国大陆,E,A
38659,38659,2013,中国大陆,38659,38667,38667.0,天机·富春山居图,74709,动作/冒险,2013-06-09 00:00:00,122,2.9,中国大陆,E,A
38660,38660,2014,中国大陆,38660,38668,38668.0,特工艾米拉,10852,动作/悬疑,2014-04-11 00:00:00,96,2.7,中国大陆,E,A
38664,38664,2015,中国大陆,38664,38672,38672.0,汽车人总动员,12892,喜剧/动画/冒险,2015-07-03 00:00:00,85,2.3,中国大陆,E,A
38669,38669,2016,中国大陆,38669,38677,38677.0,2016年中央电视台春节,17328,歌舞/真人秀,2016-02-07 00:00:00,280,2.3,中国大陆,E,A
38675,38675,2014,中国大陆,38675,38683,38683.0,放手爱,29254,喜剧/爱情,2014-04-30 00:00:00,93,2.3,中国大陆,E,A

In [210]:
df[(df['热门程度']=='E')&(df['评分等级']=='A')]

,index,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
456,456,2015,美国,456,456,456.0,NaN,45,音乐,2015-12-14 00:00:00,60,9.3,美国,A,E
587,587,2011,英国,587,587,587.0,BBC喜剧音,38,喜剧/音乐/歌舞,2011-08-13 00:00:00,95,9.3,美国,A,E
642,642,2003,美国,642,642,642.0,NaN,38,纪录片/音乐,2003-02-03 00:00:00,55,9.2,美国,A,E
686,686,2014,英国,686,686,686.0,NaN,63,音乐/舞台艺术,2014-05-18 00:00:00,49,9.5,美国,A,E
698,698,2008,英国,698,698,698.0,NaN,52,纪录片,2008-07-25 00:00:00,40,9.8,美国,A,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37579,37579,1986,英国,37579,37587,37587.0,歌唱神探,36,剧情/悬疑/歌舞,1986-11-16 00:00:00,415,9.1,美国,A,E
37705,37705,1972,美国,37705,37713,37713.0,NaN,56,纪录片,1972-12-23 00:00:00,70,9.3,美国,A,E
38111,38111,1975,美国,38111,38119,38119.0,山那边,70,剧情,1975-11-14 00:00:00,103,9.1,美国,A,E
38444,38444,2015,美国,38444,38452,38452.0,奎,62,纪录片/短片,2015-08-19 00:00:00,9,9.1,纽约电影论坛,A,E
38500,38500,2007,英国,38500,38508,38508.0,NaN,41,纪录片/短片,1905-06-29 00:00:00,57,9.2,美国,A,E

In [211]:
# 数据保存
df.to_excel('./movie_data3.xlsx')

In [ ]:
# 合并数据集

In [212]:
# append，上下拼接
df_usa = df[df['产地']=='美国']
df_china = df[df['产地']=='中国大陆']
df_china.append(df_usa)

D:\UserD\AppData\Local\Temp\ipykernel_14892\352994985.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_china.append(df_usa)

,index,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
4,4,1993,中国大陆,4,4,4.0,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.400000,香港,A,A
21,21,1961,中国大陆,21,21,21.0,大闹天宫,74881,动画/奇幻,1905-05-14 00:00:00,114,9.200000,上集,A,A
29,29,2015,中国大陆,29,29,29.0,穹顶之下,51113,纪录片,2015-02-28 00:00:00,104,9.200000,中国大陆,A,A
38,38,1982,中国大陆,38,38,38.0,茶馆,10678,剧情/历史,1905-06-04 00:00:00,118,9.200000,美国,A,A
45,45,1988,中国大陆,45,45,45.0,山水情,10781,动画/短片,1905-06-10 00:00:00,19,9.200000,美国,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38725,38725,1935,美国,38725,38734,38734.0,1935年,57,喜剧/歌舞,1935-03-15 00:00:00,98,7.600000,美国,B,E
38729,38729,2018,美国,38729,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,8.700000,美国,B,A
38730,38730,2018,美国,38730,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,8.700000,美国,B,A
38731,38731,2018,美国,38731,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,6.935795,美国,C,A
38732,38732,2018,美国,38732,38738,NaN,复仇者联盟3,123456,剧情/科幻,2018-05-04,142,6.935795,美国,C,A

In [213]:
# merge，可以横向拼接
df1 = df.loc[:5]
df1

,index,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
0,0,1994,美国,0,0,0.0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节,A,A
1,1,1957,美国,1,1,1.0,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国,A,A
2,2,1997,意大利,2,2,2.0,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利,A,A
3,3,1994,美国,3,3,3.0,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映,A,A
4,4,1993,中国大陆,4,4,4.0,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港,A,A
5,5,2012,美国,5,5,5.0,泰坦尼克号,157074,剧情/爱情/灾难,2012-04-10 00:00:00,194,9.4,中国大陆,A,A

In [215]:
df2 = df.loc[:5][['名字','产地']]
df2['票房'] = [123344,12342,9999,8888,6666,2222]
df2

       名字    产地      票房
0  肖申克的救赎    美国  123344
1    控方证人    美国   12342
2   美丽人生    意大利    9999
3    阿甘正传    美国    8888
4    霸王别姬  中国大陆    6666
5  泰坦尼克号     美国    2222

In [216]:
df2 = df2.sample(frac=1)
df2

       名字    产地      票房
1    控方证人    美国   12342
5  泰坦尼克号     美国    2222
3    阿甘正传    美国    8888
0  肖申克的救赎    美国  123344
2   美丽人生    意大利    9999
4    霸王别姬  中国大陆    6666

In [217]:
df2.index = range(len(df2))
df2

       名字    产地      票房
0    控方证人    美国   12342
1  泰坦尼克号     美国    2222
2    阿甘正传    美国    8888
3  肖申克的救赎    美国  123344
4   美丽人生    意大利    9999
5    霸王别姬  中国大陆    6666

In [218]:
pd.merge(df1, df2, how='inner', on='名字')

,index,年代,产地_x,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度,产地_y,票房
0,0,1994,美国,0,0,0.0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节,A,A,美国,123344
1,1,1957,美国,1,1,1.0,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国,A,A,美国,12342
2,2,1997,意大利,2,2,2.0,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利,A,A,意大利,9999
3,3,1994,美国,3,3,3.0,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映,A,A,美国,8888
4,4,1993,中国大陆,4,4,4.0,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港,A,A,中国大陆,6666
5,5,2012,美国,5,5,5.0,泰坦尼克号,157074,剧情/爱情/灾难,2012-04-10 00:00:00,194,9.4,中国大陆,A,A,美国,2222

In [ ]:
# concat

In [219]:
df1 = df[:10]
df2 = df[100:110]
df3 = df[200:210]

In [220]:
dff = pd.concat([df1,df2,df3])
dff

,index,年代,产地,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,名字,投票人数,类型,上映时间,时长,评分,首映地点,评分等级,热门程度
0,0,1994,美国,0,0,0.0,肖申克的救赎,692795,剧情/犯罪,1994-09-10 00:00:00,142,9.6,多伦多电影节,A,A
1,1,1957,美国,1,1,1.0,控方证人,42995,剧情/悬疑/犯罪,1957-12-17 00:00:00,116,9.5,美国,A,A
2,2,1997,意大利,2,2,2.0,美丽人生,327855,剧情/喜剧/爱情,1997-12-20 00:00:00,116,9.5,意大利,A,A
3,3,1994,美国,3,3,3.0,阿甘正传,580897,剧情/爱情,1994-06-23 00:00:00,142,9.4,洛杉矶首映,A,A
4,4,1993,中国大陆,4,4,4.0,霸王别姬,478523,剧情/爱情/同性,1993-01-01 00:00:00,171,9.4,香港,A,A
5,5,2012,美国,5,5,5.0,泰坦尼克号,157074,剧情/爱情/灾难,2012-04-10 00:00:00,194,9.4,中国大陆,A,A
6,6,1993,美国,6,6,6.0,辛德勒的名单,306904,剧情/历史/战争,1993-11-30 00:00:00,195,9.4,华盛顿首映,A,A
7,7,1997,日本,7,7,7.0,新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai,24355,剧情/动作/科幻/动画/奇幻,1997-07-19 00:00:00,87,9.4,日本,A,A
8,8,2013,日本,8,8,8.0,银魂完结篇：直到永远的万事屋 劇場版 銀魂 完結篇 万事屋よ,21513,剧情/动画,2013-07-06 00:00:00,110,9.4,日本,A,A
9,9,1994,法国,9,9,9.0,这个杀手不太冷,662552,剧情/动作/犯罪,1994-09-14 00:00:00,133,9.4,法国,A,A
100,100,1993,韩国,100,100,100.0,101,146,喜剧/爱情,1993-06-19 00:00:00,112,7.4,韩国,B,D
101,101,1995,英国,101,101,101.0,10,186,喜剧,1995-01-25 00:00:00,101,7.4,美国,B,D
102,102,2013,韩国,102,102,102.0,素媛,114819,剧情/家庭,2013-10-02 00:00:00,123,9.1,韩国,A,A
103,103,2003,美国,103,103,103.0,101忠狗续集：伦敦,924,喜剧/动画/家庭,2003-01-21 00:00:00,70,7.5,美国,B,B
104,104,2000,美国,104,104,104.0,10,9514,喜剧/家庭,2000-09-22 00:00:00,100,7.0,美国,C,A
105,105,2013,韩国,105,105,105.0,10,601,剧情,2014-04-24 00:00:00,93,7.2,美国,B,C
106,106,2006,美国,106,106,106.0,10件或,1770,剧情/喜剧/爱情,2006-12-01 00:00:00,82,7.7,美国,B,B
107,107,2014,美国,107,107,107.0,10年,1531,喜剧/同性,2015-06-02 00:00:00,90,6.9,美国,C,B
108,108,2012,日本,108,108,108.0,11·25自决之日 三岛由纪夫与年轻人们 11・25自決の,149,剧情,2012-06-02 00:00:00,119,5.6,日本,C,D
109,109,1997,美国,109,109,109.0,泰坦尼克号,535491,剧情/爱情/灾难,1998-04-03 00:00:00,194,9.1,中国大陆,A,A
200,200,2014,日本,200,200,200.0,最完美的离婚 2014特别篇,18478,剧情/喜剧/爱情,2014-02-08 00:00:00,120,9.1,日本,A,A
201,201,2009,日本,201,201,201.0,2001夜物,84,剧情/动画,2009-10-02 00:00:00,80,6.6,美国,C,D
202,202,2009,中国香港,202,202,202.0,头七 頭,7039,恐怖,2009-05-21 00:00:00,60,6.2,美国,C,A
203,203,1896,法国,203,203,203.0,火车进站 L,7001,纪录片/短片,1896-01-06,60,8.8,法国,B,A
204,204,2009,美国,204,204,204.0,银行舞蹈,6944,短片,1905-07-01 00:00:00,60,7.8,美国,B,A
205,205,2003,荷兰,205,205,205.0,2003提雅,48,音乐,2003-10-07 00:00:00,200,8.9,美国,B,E
206,206,2012,美国,206,206,206.0,死亡飞车3：地狱烈,6937,动作,2012-12-12 00:00:00,60,5.8,美国,C,A
207,207,2012,日本,207,207,207.0,时光钟摆 振り,6876,剧情/动画/短片,2012-03-20 00:00:00,60,8.7,美国,B,A
208,208,2011,中国香港,208,208,208.0,你还可爱么 你還可愛,6805,短片,2011-04-22 00:00:00,60,8.3,美国,B,A
209,209,2002,中国香港,209,209,209.0,一碌蔗,6799,剧情/喜剧/爱情,2002-09-19 00:00:00,60,6.7,美国,C,A